[Desktop Entry]
Type=Application
Name=Agnostric
Comment=A user-friendly Nostr client for exploring relay feeds
Exec=jumble %U
Icon=com.mparfeniuk.agnostric
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=Agnostric
